
/* Elemento: El contenedor del logo */
/* Lo que hace: Agrega un margen de 10px alrededor del contenedor del logo */

#Logo {
    margin: 10px;
}


/* Elemento: La imagen dentro del contenedor del logo */
/* Lo que hace: Limita el ancho máximo de la imagen a 80px y ajusta la altura automáticamente */
#Logo img {
    max-width: 80px;
    height: auto;
}

/* Elemento: El encabezado */
/* Lo que hace: Modifica el color de fondo, relleno, y configura el encabezado para que los elementos estén distribuidos uniformemente horizontalmente y alineados verticalmente */
header {
    border-radius: 8px;
    background-color: #4dce42;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Elemento: La barra de navegación */
/* Lo que hace: Cambia la visualización de la barra de navegación a una fila */
nav {
    display: flex;
}


/* Elemento: Los enlaces dentro de la barra de navegación */
/* Lo que hace: Modifica el color del texto, el subrayado, el margen, la fuente y el borde */
nav a {
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}


/* Elemento: Los enlaces dentro de la barra de navegación cuando el raton está sobre ellos */
/* Lo que hace: Cambia el color de fondo cuando el raton está sobre los enlaces */
nav a:hover {
    background-color: #28a12e;
}


/* Elemento: El contenedor del cuadro de búsqueda */
/* Lo que hace: Cambia la visualización del contenedor como una fila */
.search-box {
    display: flex;
    align-items: center;
}


/* Elemento: El campo dentro del contenedor de búsqueda */
/* Lo que hace: Modifica el relleno, el margen derecho, el borde y la forma del borde */
.search-box input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
}


/* Elemento: El botón dentro del contenedor de búsqueda */
/* Lo que hace: Modifica el color de fondo, el color del texto, el relleno, el borde y la forma del borde, y establece el cursor en puntero */
.search-box button {
    background-color: #fff;
    color: #4dce42;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}

/* pantallas de tamaño máximo de 768px  Tablets*/
@media screen and (max-width: 850px) {


    

    /* Agrega margen superior a la barra de navegación */
    nav {
        margin-top: 10px;
    }

    /* Agrega margen superior cuadro de búsqueda */
    .search-box {
        margin-top: 10px;
    }
}
/* pantallas de tamaño máximo de 550px  Movil*/
    @media screen and (max-width: 550px) {

        /* Cambia la dirección de flex del encabezado y los elementos se alinean al inicio */
        header {
            flex-direction: column;
           
        }
    
        /* Agrega margen superior a la barra de navegación */
        nav {
            margin-top: 10px;
        }
    
        /* Agrega margen superior cuadro de búsqueda */
        .search-box {
            margin-top: 10px;
        }

    
}


