
header {
    background-color: #4dce42; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#Logo {
    margin-right: 10px; 
}

#Logo img {
    max-width: 80px; 
    height: auto;
}

nav {
    display: flex;
}


nav a {
    color: white; 
    text-decoration: none;
    margin: 0 5px; 
    font-weight: bold;
    font-size: 16px; 
    padding: 5px 10px; 
    border: 1px solid white; 
    border-radius: 5px; 
}


nav a:hover {
    text-decoration: underline; 
}


