* {
    box-sizing: border-box;
}
body {
    margin-left: 20%;
    margin-right: 20%;
}

 /* Estilo de las imágenes dentro del contenedor */
 


/* Estilo del contenedor de la imagen a la derecha */

#img1{
    float: right;
    width: 100%;
    margin-left: 10px;
    margin-top: 50px;
    padding: 10px;
}

.text_img{
    width: 100%;
}

/* Estilo del contenedor de la imagen a la izquierda */
.text_img .containerLeft {
    float: left; /* Hace que el contenedor flote a la izquierda */
    margin-right: 20px; /* Añade un margen derecho para separar del texto */
}

.clearfix{
    overflow: auto;
}

* {
    box-sizing: border-box;
  }
  
  .header {
    border: 1px solid red;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}