@media only screen and (max-width: 3000px) {
* {
    box-sizing: border-box;
}
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-left: 20%;
    margin-right: 20%;
    
}

table {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    
}



th, td {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}


th {
    background-color: #4dce42;
}

.image-container {
    width: 150px; 
    overflow: hidden; 
     
    margin-right: -59px;
   
    
}

.image-container img {
    
    max-width: 100%;
    height: auto;
    display: block;

}

table tr td{
    white-space: nowrap;
}

td p{
    text-decoration: underline;
}

}

.portada{
    padding: 0;
}

@media only screen and (max-width: 768px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1500px) {
 

    .image-container {
    
        margin-right: 0px;
       
        
    }
}