.piePagina{
  font-size:large;
  font-weight: normal;
  margin-left: 15%;
  }
.piePagina #texto-pie{
  padding-top: 5%;
  text-align: left;
  padding-left: 5%;
  font-size: normal;
}
.piePagina #texto-pie3{
  padding-top: 5%;
  text-align: center;
  padding-left: 10%;
  font-size: smaller;
}
.piePagina #texto-pie2 img{
  width: 20%;
  margin-top: 3%;
}
.piePagina #texto-pie2{
  padding-top: 6%;
  margin-left: 50px;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
#imgpiepag{
  width:25%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1100px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  #imgpiepag{
    width: 25%;
  }
/*Poner los iconos en horizontal con FLEX */
#texto-pie2{
  display: flex; 
  width: 100%; 
   margin-left: 19%;
   margin-top:-7%;
}
/*Igualar el tama침o de los iconos*/
  #tw{
    width: 50%;  }
  #inst{width: 50%;
  margin-left: -30%;}
  #mail{width: 65%;
    margin-left: -30%;
  margin-top: -15px;}
/*Centrar info del Pie de p치gina*/
  #texto-pie3{
    margin-left: 10%;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 550px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

/*Poner los iconos en horizontal con FLEX */
  #texto-pie2{
  display: flex; 
  width: 100%; 
   margin-left: 20%;
}
/*Igualar el tama침o de los iconos*/
  #tw{
    width: 100%;
  }
  #inst{width: 100%;}
  #mail{width: 130%;
  margin-top: -7px;}
/*Centrar info del Pie de p치gina*/
  #texto-pie3{
    margin-left: 10%;
  }
  #imgpiepag{
    margin-top: 10%;
  }
}